@import "../../styles/variables";

.nav {
  font-family: $font-header;
  font-size: 1.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  position: absolute;
  top: 0;
  transition: 0.25s ease-in-out;
  width: 100%;
  z-index: 1;
}

.nav--scroll {
  height: 3rem;
  line-height: 3rem;
  position: fixed;
}

.nav__ico {
  display: inline;
  margin-left: 10%;
}

.nav__menu {
  display: inline;
  margin-left: 45%;
}

.nav__item {
  display: inline;
  margin: 0 1.5rem 0 0;
}
