@import "../../styles/variables";

.footer {
    height: 30vh;
    width: 100%;
}

.footer__filebox {
    margin: 0 auto -4rem;
    padding: 1rem;
    position: relative;
    width: 25%;
}

.footer__filebox__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.footer__filebox__text {
    color: white;
    font-family: $font-content;
    font-size: 3rem;
    display: inline-block;
    margin: 0 0 0 1rem;
}

.footer__contacts {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 8rem;
    width: 35%;
}

.footer__icon {
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1.25rem;
    transition: .25s ease-in-out;

    &:hover {
        border-color: map-get($light-palette, "light-accent");
    }
}

.footer__contribs {
    font-family: $font-content;
    color: white;
    margin-top: 6rem;
    text-align: center;
}